/* .ui {
  border: 4px solid blue;
  bottom:5%;
  position:fixed;
  z-index: 5000;
  width:100%;
  display: block;
 
} */
@font-face {
	font-family: urchlo;
	src: url('../../fonts/Urchlo\ Romhanach.ttf');
  }
  
  @font-face {
	font-family: aonchlo;
	src: url('../../fonts/aonchlo.ttf');
  }
  *{font-family:urchlo}
.directional-pad{
	 /* border:4px solid blueviolet; */
	position:fixed;
	z-index: 60;
	right:5%;
	top:55%;
	width:150px;
	height:150px;

}
.a-and-b-btns{
	position: fixed;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
    z-index: 4999;
    left: 5%;
	top:75%;
}

.select-and-start-btns{
    /* border: 4px solid rebeccapurple; */
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 4999;
    left: 43%;
    top: 85%;
    width: 23%;
}

.select-and-start-btns-vert{
    /* border: 4px solid rebeccapurple; */
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 4999;
    left: 55%;
    top: 91%;
    width: 40%;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;

}
h1{color:gainsboro;}
h2{
	color:gainsboro;
	margin:0;
	padding-top:10px;
}

.grid-item {
	border: 3px solid rgba(0, 0, 0, 0.8);
	font-size: 30px;
	text-align: center;
	border:0px;
	padding:0px;
	margin:0px !important;
}
#splash{
	position: fixed;
	background-image: url('../../img/foreground/geaga-bg0.png');
top:0% !important;
	height:200%;
width:200%;
z-index: -4;
background-size: cover;
}

#prompt-hor{
	border:4px solid crimson
}