.county {
  /* border: 4px solid rgba(128, 0, 128, 0.589); */
  width: 100px;
  height: 100px;
  opacity:1;
}

.county-dark{
  /* border: 4px solid rgba(128, 0, 128, 0.589); */
  width:50px;
  height:50px;
  background-repeat: no-repeat;
  z-index: 601;
  background-size: contain;
  opacity:0.8;

}

.highlight {
  border: 4px solid rgb(68, 128, 0);
  width: 100px;
  height: 100px;
}

.container {
  border: 4px solid blue;
  display: flex;
}

.counties-container{
  
	position:fixed;
	display:flex;
	top:14%;
	left:0%;
	width:100%;
	justify-content: space-evenly;
	height:33%;
	z-index: 600;
	background-repeat:no-repeat;
	
}
.hidden{
  display:none;
}
  .counties-container2{
    position:fixed;
	display:flex;
	top:32%;
	left:0%;
  border: 2px solid orange;
	width:100%;
	justify-content: space-evenly;
	height:20%;
	z-index: 600;
	background-repeat:no-repeat;
	
}
/* ulster */
.antrim{
  background-image:url('../../img/counties/ulster/antrim-night.png');
}
.armagh{
  background-image:url('../../img/counties/ulster/armagh-night.png');
}
  .cavan{
    background-image:url('../../img/counties/ulster/cavan-night.png');
  }
  
  .donegal{
    background-image:url('../../img/counties/ulster/donegal-night.png');
  }
  .down{
    background-image:url('../../img/counties/ulster/down-night.png');
  
  }
  .fermanagh{
	background-image:url('../../img/counties/ulster/fermanagh-night.png');
}
  .derry{  background-image:url('../../img/counties/ulster/derry-night.png');}
  .monaghan{
    background-image:url('../../img/counties/ulster/monaghan-night.png');
  }
  
  
  .tyrone{
	background-image:url('../../img/counties/ulster/tyrone-night.png');
  }
  /* //leinster */
  .carlow{
	background-image:url('../../img/counties/leinster/carlow-night.png');
}


  .dublin{
    background-image:url('../../img/counties/leinster/dublin-night.png');
  }
  
  .kildare{
	background-image:url('../../img/counties/leinster/kildare-night.png');
}
  
.kilkenny{
  background-image:url('../../img/counties/leinster/kilkenny-night.png');
  }
  
  .laois{
    background-image:url('../../img/counties/leinster/laois-night.png');
  }
  
  .longford{
    background-image:url('../../img/counties/leinster/longford-night.png');
  }
  
  .louth{
    background-image:url('../../img/counties/leinster/louth-night.png');
  }
  
  .meath{
    background-image:url('../../img/counties/leinster/meath-night.png');
  }
  
  .offaly{
    background-image:url('../../img/counties/leinster/offaly-night.png');
  }
  
  .westmeath{
	background-image:url('../../img/counties/leinster/westmeath-night.png');
}

.wexford{
  background-image:url('../../img/counties/leinster/wexford-night.png');
  }
  
  .wicklow{
    background-image:url('../../img/counties/leinster/wicklow-night.png');
  }
  
  /* //munster */
  
  .clare{
	background-image:url('../../img/counties/munster/clare-night.png');
}

.cork{
  background-image:url('../../img/counties/munster/cork-night.png');
}

  .kerry{
    background-image:url('../../img/counties/munster/kerry-night.png');
  }
  
  .limerick{
    background-image:url('../../img/counties/munster/limerick-night.png');
  }
  
  .tipperary{
    background-image:url('../../img/counties/munster/tipperary-night.png');
  }
  
  .waterford{
    background-image:url('../../img/counties/munster/waterford-night.png');
  }
  /* //connacht */
  .galway{
    background-image:url('../../img/counties/connacht/galway-night.png');
  }
  
  .leitrim{
    background-image:url('../../img/counties/connacht/leitrim-night.png');
  }
  
  .mayo{
    background-image:url('../../img/counties/connacht/mayo-night.png');
  }
  
  .roscommon{
    background-image:url('../../img/counties/connacht/roscommon-night.png');
  }
  
  .sligo{
    background-image:url('../../img/counties/connacht/sligo-night.png');
  }
  
  
  
  .county{
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    z-index: 601;
    background-size: contain;
  }









/* ulster -light*/
.antrim-light{
  background-image:url('../../img/counties/ulster/antrim.png');
}
.armagh-light{
  background-image:url('../../img/counties/ulster/armagh.png');
}
  .cavan-light{
    background-image:url('../../img/counties/ulster/cavan.png');
  }
  
  .donegal-light{
    background-image:url('../../img/counties/ulster/donegal.png');
  }
  .down-light {
    background-image:url('../../img/counties/ulster/down.png');
  
  }
  .fermanagh-light{
	background-image:url('../../img/counties/ulster/fermanagh.png');
}
  .derry-light{  background-image:url('../../img/counties/ulster/derry.png');}
  .monaghan-light{
    background-image:url('../../img/counties/ulster/monaghan.png');
  }
  
  
  .tyrone-light{
	background-image:url('../../img/counties/ulster/tyrone.png');
  }
  /* //leinster -light */
  .carlow-light{
	background-image:url('../../img/counties/leinster/carlow.png');
}


  .dublin-light{
    background-image:url('../../img/counties/leinster/dublin.png');
  }
  
  .kildare-light{
	background-image:url('../../img/counties/leinster/kildare.png');
}
  
.kilkenny-light{
  background-image:url('../../img/counties/leinster/kilkenny.png');
  }
  
  .laois-light{
    background-image:url('../../img/counties/leinster/laois.png');
  }
  
  .longford-light{
    background-image:url('../../img/counties/leinster/longford.png');
  }
  
  .louth-light{
    background-image:url('../../img/counties/leinster/louth.png');
  }
  
  .meath-light{
    background-image:url('../../img/counties/leinster/meath.png');
  }
  
  .offaly-light{
    background-image:url('../../img/counties/leinster/offaly.png');
  }
  
  .westmeath-light{
	background-image:url('../../img/counties/leinster/westmeath.png');
}

.wexford-light{
  background-image:url('../../img/counties/leinster/wexford.png');
  }
  
  .wicklow-light{
    background-image:url('../../img/counties/leinster/wicklow.png');
  }
  
  /* //munster -light*/
  
  .clare-light{
	background-image:url('../../img/counties/munster/clare.png');
}

.cork-light{
  background-image:url('../../img/counties/munster/cork.png');
}

  .kerry-light{
    background-image:url('../../img/counties/munster/kerry.png');
  }
  
  .limerick-light{
    background-image:url('../../img/counties/munster/limerick.png');
  }
  
  .tipperary-light{
    background-image:url('../../img/counties/munster/tipperary.png');
  }
  
  .waterford-light{
    background-image:url('../../img/counties/munster/waterford.png');
  }
  /* //connacht */
  .galway-light{
    background-image:url('../../img/counties/connacht/galway.png');
  }
  
  .leitrim-light{
    background-image:url('../../img/counties/connacht/leitrim.png');
  }
  
  .mayo-light{
    background-image:url('../../img/counties/connacht/mayo.png');
  }
  
  .roscommon-light{
    background-image:url('../../img/counties/connacht/roscommon.png');
  }
  
  .sligo-light{
    background-image:url('../../img/counties/connacht/sligo.png');
  }
  
  

