.start-menu {
  /* display:none; */
  /* display:grid; */
  margin-top: 17%;
  top: 0%;
  left: 35%;
  width: 33%;
  position: fixed;
  z-index: 5000;
}

Button {
  color: green;
  background-color: black;
  ;
  border: 4px solid green;
  margin-top: 5px;
}
