/*
	Lord help me be better developer, but not yet.
*/


/* *{
	background-color:black;} */
	.button-group{
		margin:0 !important;
		align-content: center;
	}
	
	@font-face { 
		font-family: 'Urchlo Romhanach'; src: url('../../fonts/Urchlo\ Romhanach.ttf'); 
	} 
	#output{
		position: fixed;
		width:90%;
		height:30%;
		/* border:3px solid green; */
		margin:5%;
		font-family: 'Urchlo Romhanach';
		z-index: 1;
		word-wrap: break-word;
	}
	.btn{
		font-size:1.2rem;
		/* margin:0 !important; */
		display: block;
		width: 100%;
		/* margin:2px; */
		border-radius:10px;
padding-top:2%;
padding-bottom:1%;		
	
	}
	
	
	.btn-right{
		/* border:3px solid rgba(37, 31, 18, 0.644); */
		/* padding-right:8px !important;  */
		color:palegoldenrod;
		background-color:rgba(41, 15, 15, 0.5)
		
		
	}
	.btn-left{
		background-color:#3a2e17cb;
	
		color: rgb(255, 227, 255);
		/* border:3px solid orange; */
		/* padding-left:8px !important;  */
	
	
	}
	#keyboard-container, #caps-keyboard-container, #fada-mode,#new-buttons{

		
	}
	/* #fada-mode{display:none;} */
	#e-line, #f-line , #a-line, #c-line, #shift-line{
		/* border:2px solid orange; */
		width:100%;
		display:flex;
	}
	
	#shift-line{
		bottom:0%;
	}
	.space{
		/* border:2px solid green; */
		width: 70% !important;
		margin-left:5%;
		bottom:5%;
		padding-left:60px !important;
		padding-right:60px !important;
		background-color:#3a2e17cb;

	}
	#backspace{
		
		left:10px;
		width:50px;
	}
	
	.z-line{
		
		margin-left:2% !important;
	}
	
	
		.btn{
			/* width:15%; */
			margin:2px !important;
	/* display:block; */
	
	}
	
	#j-line{
		display:fixed;
		z-index: 100;
		
	}
	
	
	.btn-right-logo{
		/* border:3px solid orange; */
		/* padding-right:8px !important;  */
		color:palegoldenrod;
		background-color:#648136;
		/* -webkit-animation: bounce 6.5s ease-out forwards; */
		/* -moz-animation: bounce 1000ms ease-out forwards; */
		/* -o-animation: bounce 1000ms ease-out forwards; */
		/* animation: bounce 2.5s ease-out forwards;	 */
		
	}
	.btn-left-logo{
		background-color:#c469db;
	
		color: rgb(255, 227, 255);
		/* border:3px solid orange; */
		/* padding-left:8px !important;  */
		-webkit-animation: bounce 2.2s ease-out forwards;
		-moz-animation: bounce 1600ms ease-out forwards;
		-o-animation: bounce 1600ms ease-out forwards;
		animation: bounce 2.2s ease-out forwards;
	 
	}
	#keyboard-container{



		position:fixed;
		display:inline-block;
		align-content: center;
		text-align: center;
		z-index: 10;

		/* border:4px solid orange; */
		height:50%;
		left:0;
		top:39%;
		width:100%;
		z-index: 500;
	
	
	
	}

	.hidden{display: none !important;}