.champion {
  width: 80px;
  height: 80px;
	border: 4px solid rgba(45, 177, 182, 0);
	background-size: contain;

}
#champions{
  position: fixed;
	background-image: url('../../img/foreground/geaga-bg0.png');
top:0%;
	height:200%;
width:200%;
z-index: -4;
background-size: cover;
animation:scroll-down 5s forwards;
}

.highlight-champ {
  background-color: rgba(45, 177, 182, 0.5);
}
  
.container {
  /* border:4px solid blue; */
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.ui{opacity: 0.7;}



.rogue {
  background-image: url('../../img/characters/rogue.png');
}

.sage {
  background-image: url('../../img/characters/sage.png');
}

.poet {
  background-image: url('../../img/characters/poet.gif');
}

.druid {
  background-image: url('../../img/characters/druid.gif');
}

.gallowglass {
  background-image: url('../../img/characters/gallowglas.png');
}

.detective {
  background-image: url('../../img/characters/detective.png');
}

.occultist {
  background-image: url('../../img/characters/occultist.gif')
}

.fenian {
  background-image: url('../../img/characters/fenian.png');
}


@keyframes scroll-down {
  0% {
    top: 0%;
  }
  
  100% {
    
    top: -50%;
  }
}
