#history {

  z-index: 5000;
  position: fixed;
  top: 10%;
  width: 100%;
  height: 80%;
}


#fwdBtn{
    border:4px solid orange;
    height: 50px;
    width:50px;
}
.btn-middle-history{


  background-image:url('../../img/middle.png');
	border:solid 3px rgba(83, 60, 90);
	background-size:contain;
	height:50px;
	width:50px;
	position:relative;
	z-index: 45;
  outline: solid 2px rgba(83, 60, 90) !important; 
}
@font-face {
  font-family: aonchlo;
  src: url('../../fonts/aonchlo.ttf');
}

#story{
  color: #9c9494;
  font-family: aonchlo;
}
#story-eng{
 
  color: #9c9494;
  font-family:'Franklin Gothic Narrow', 'Arial Narrow', Arial, sans-serif
}