.sea {
  background-image: url('../../img/tonnta3.gif');

  /* background-size: contain; */
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  transform: scale(1);
  /* display:none; */
}



.prompt-hor {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;


}

.stage-container {
  /* border:2px solid red; */
  justify-content: center;
  display: grid;
  position: fixed;
  transform: scale(0.9);
  /* padding-top: 5%; */
  z-index: -3;
  top:-2%;

}


.stage-container {

  z-index: 30;
  margin-top: 1%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/bgAnim6.gif');
  background-size: contain;
  justify-content: center;
 
  /* border-size: 2px solid orange; */
}
.under-stage-left, .under-stage-right {
/* border:4px solid orange; */
	z-index: 31;
	margin-top: 1%;
	width:20%;
	height: 100%;
	justify-content: center;
	/* border-size: 2px solid orange; */
	position:fixed;
	background-repeat:no-repeat;
	background-position-y: center;
	opacity: 100%;
	background-size: cover;
	right: 0;
	background-image: url('../../img/Dealbh_bg_dark.png');
}
.under-stage-left {
	width: 31%;
	display: grid;
	justify-content: center;;
}

/* .under-stage-left-b {
		z-index: 31;
		margin-top: 1%;
		width:20%;
		height: 100%;
		justify-content: center;
		position:fixed;
		background-repeat:no-repeat;
		background-position-y: center;
		opacity: 100%;
		background-size: cover;
		right: 20%;

		background-image: url('../../img/ciorcal0.png');
		background-size: contain;
			z-index: 31;
			left: 20%;
			background-position-y: bottom;
	}
	 */
.under-stage-right{
	background-image: url('../../img/ciorcal0.png');
background-size: contain;
	z-index: 32;
	left: 0;
	/* border:4px solid blue; */
	background-position-y: top;

  }
#stage {
  position: relative;
  width: 400px;
  height: 400px;
  /* background-image: url("../../img/b.png"); */
  /* border:3px solid green;;   */
  top: 0px;
  left: 0px;
}

.cell {
  display: block;
  position: absolute;
  width: 10%;
  height: 10%;
  /* border:3px solid green;   */

}

p {
  width: 400px;
}

#hero {
  opacity: 50%;
  /* border-radius: 50%; */
}







@keyframes zoom-to-offaly {

  0% {
    transform: scale(1.8)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-louth {

  0% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-wexford {

  0% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-limerick {

  0% {
    transform: scale(1.4)
  }

  100% {
    transform: scale(1.3)
  }

}

@keyframes zoom-to-dublin {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-leitrim {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.5)
  }

}

@keyframes zoom-to-antrim {

  0% {
    transform: scale(1.8)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-donegal {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-fermanagh {

  0% {
    transform: scale(1.6)
  }

  100% {
    transform: scale(1.5)
  }

}

@keyframes zoom-to-cork {

  0% {
    transform: scale(1.6)
  }

  100% {
    transform: scale(1.5)
  }

}

@keyframes zoom-to-wicklow {

  0% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-roscommon {

  0% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-derry {

  0% {
    transform: scale(1.4)
  }

  100% {
    transform: scale(1.5)
  }

}

@keyframes zoom-to-sligo {

  0% {
    transform: scale(1.9)
  }

  100% {
    transform: scale(1.8)
  }

}

@keyframes zoom-to-tipperary {

  0% {
    transform: scale(1.9)
  }

  100% {
    transform: scale(1.8)
  }

}

@keyframes zoom-to-laois {

  0% {
    transform: scale(1.9)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-waterford {

  0% {
    transform: scale(1.6)
  }

  100% {
    transform: scale(1.4)
  }

}

@keyframes zoom-to-kilkenny {

  0% {
    transform: scale(1.3)
  }

  100% {
    transform: scale(1.4)
  }

}

@keyframes zoom-to-meath {

  0% {
    transform: scale(1.8)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-kerry {

  0% {
    transform: scale(1.4)
  }

  100% {
    transform: scale(1.3)
  }

}

@keyframes zoom-to-longford {

  0% {
    transform: scale(1.8)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-mayo {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-westmeath {

  0% {
    transform: scale(1.4)
  }

  100% {
    transform: scale(1.3)
  }

}

@keyframes zoom-to-down {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-armagh {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-carlow {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-monaghan {

  0% {
    transform: scale(1.8)
  }

  100% {
    transform: scale(1.7)
  }

}

@keyframes zoom-to-galway {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.5)
  }

}

@keyframes zoom-to-kildare {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

@keyframes zoom-to-clare {

  0% {
    transform: scale(1.4)
  }

  100% {
    transform: scale(1.3)
  }

}

@keyframes zoom-to-cavan {

  0% {
    transform: scale(1.5)
  }

  100% {
    transform: scale(1.4)
  }

}

@keyframes zoom-to-tyrone {

  0% {
    transform: scale(1.7)
  }

  100% {
    transform: scale(1.6)
  }

}

#north {
  background-color: rgb(83, 60, 90);
  border-top: 3px solid rgba(170, 176, 177, 0.5);

  border-right: 3px solid rgba(170, 176, 177, 0.5);
  border-left: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 0px solid rgba(83, 60, 90, 1);
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 50;
}

#toolbar{
	/* border:9px solid orange;
	z-index: 500;
	top:0;
	position: relative; */
}
#west {
  border: 5px solid blueviolet;
  background-color: blueviolet;

  height: 50px;
  width: 50px;
  position: relative;
  z-index: 50;

  background-color: rgb(83, 60, 90);
  border-top: 3px solid rgba(170, 176, 177, 0.5);

  border-right: 0px solid rgba(83, 60, 90, 1);
  border-left: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 3px solid rgba(170, 176, 177, 0.5);
  right:0px;

}

#dir-pad {
	position:fixed;
	z-index: 60;
	right:5%;
	top:55%;
	width:150px;
	height:150px;
	border:3px solid green;
justify-content: center;
}

.jq-grid-item {
  border: 3px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  border: 0px;
  padding: 0px;
  margin: 0px !important;
  border:1px solid red;
  width:50px;
  height:50px;


}

.jq-grid-container {
	position:relative;
	right:0%;
	top:40%;
  z-index: 6000;
  /* grid-template-columns: auto auto auto; */
  width:150px;
  transform:scale(0.8)
}

.row{
	/* border:4px solid orange; */
height:50px;
display:flex;
width:150px;}
.col{
	/* border:4px solid blue; */
width:50px;
height:50px;}
#south {
  background-color: rgb(83, 60, 90);
  border-top: 0px solid rgba(83, 60, 90, 1);
  border-right: 3px solid rgba(170, 176, 177, 0.5);
  border-left: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 3px solid rgba(170, 176, 177, 0.5);
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 40;
}

#origin {
  background-image: url('../../img/middle.png');
  outline: solid 1px rgba(83, 60, 90);
  border: solid 3px rgba(83, 60, 90);
  background-size: contain;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 45;
}

#east {
  background-color: rgb(83, 60, 90);
  border-top: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 3px solid rgba(170, 176, 177, 0.5);

  border-right: 3px solid rgba(170, 176, 177, 0.5);
  border-left: 0px solid rgba(83, 60, 90, 1);

  height: 50px;
  width: 50px;
  position: relative;
  z-index: 50;
right:-3px;
}



.countyMap {
		
			height:100em;
			width:100%;
			/* background-image:url('../../img/countyMaps/antrim.png'); */
			background-size: contain;

	  height: 525px;
	  width: 500px;
	  background-size: contain;
	  position: relative;
	  background-repeat: no-repeat;
	  z-index: 10;
} 
